.gradle/
.idea/
build.gradle
conf/
gradle/
gradlew
gradlew.bat
out/
settings.gradle
build/
/src/main/resources/core/info.json
info.json
src/main/java/
src/test/
/src/main/kotlin/com/ingbyr/guiyouget/test.kt
