* {
    -color-p: #546e7a;
    -color-l: #819ca9;
    -color-d: #29434e;
    -color-gray: #efefef;
}

.text {
    -fx-font-size: 1.5em;
}

#small-text .text {
    -fx-font-size: 1.2em;
}

.tooltip {
    -fx-font-size: 1.2em;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item, .context-menu {
    -fx-background-color: -color-d;
}

.menu .separator .line {
    -fx-border-color: -color-p;
}

.menu-item:focused {
    -fx-background-color: -color-p;
}

#shortcut-icons {
    -fx-background-color: -color-d;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -color-l;
}

#settings-btn {
    -fx-background-color: -color-p;
    -fx-text-fill: white;
}

#button-download-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M512 64q91 0 174 35 81 34 143 96t96 143q35 83 35 174t-35 174q-34 81-96 143t-143 96q-83 35-174 35t-174-35q-81-34-143-96T99 686q-35-83-35-174t35-174q34-81 96-143t143-96q83-35 174-35zm0-64Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm288 480H544V224q0-13-9.5-22.5T512 192t-22.5 9.5T480 224v256H224q-13 0-22.5 9.5T192 512t9.5 22.5T224 544h256v256q0 13 9.5 22.5T512 832t22.5-9.5T544 800V544h256q13 0 22.5-9.5T832 512t-9.5-22.5T800 480z";
}

#button-pause-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M352 768h-1q-13 0-22-9.5t-9-22.5V288q0-13 9-22.5t22-9.5h1q13 0 22.5 9.5T384 288v448q0 13-9.5 22.5T352 768zm321 0h-1q-13 0-22.5-9.5T640 736V288q0-13 9.5-22.5T672 256h1q13 0 22.5 9.5T705 288v448q0 13-9.5 22.5T673 768zM512 64q91 0 174 35 81 34 143 96t96 143q35 83 35 174t-35 174q-34 81-96 143t-143 96q-83 35-174 35t-174-35q-81-34-143-96T99 686q-35-83-35-174t35-174q34-81 96-143t143-96q83-35 174-35zm0-64Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0z";
}

#button-play-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M512 64q91 0 174 35 81 34 143 96t96 143q35 83 35 174t-35 174q-34 81-96 143t-143 96q-83 35-174 35t-174-35q-81-34-143-96T99 686q-35-83-35-174t35-174q34-81 96-143t143-96q83-35 174-35zm0-64Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm-64 316l231 196-231 196V316zm-40-112q-9 0-16.5 6.5T384 226v572q0 9 7.5 15t17 6 16.5-6l335-285q8-7 8-16t-8-16L425 211q-7-7-17-7z";
}

#button-delete-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M558 512l195-191q9-10 9.5-23t-8.5-23q-10-9-23-9t-23 9L512 467 316 275q-10-9-23-9t-23 10q-9 9-9 22.5t10 22.5l195 191-195 191q-9 10-9.5 23t8.5 23q10 9 23 9t23-9l196-192 196 192q10 9 23 9t23-10q9-9 9-22.5T753 703zM512 64q91 0 174 35 81 34 143 96t96 143q35 83 35 174t-35 174q-34 81-96 143t-143 96q-83 35-174 35t-174-35q-81-34-143-96T99 686q-35-83-35-174t35-174q34-81 96-143t143-96q83-35 174-35zm0-64Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0z";
}

#button-open-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M405 64q5 0 11 5t7 10l19 77v1q5 23 26 39 20 17 45 17h437q10 0 10 11v597q0 5-3 8t-6 3H73q-9 0-9-11V75q0-11 9-11h332zm0-64H73Q43 0 21.5 22T0 75v746q0 31 21.5 53T73 896h878q30 0 51.5-22t21.5-53V224q0-31-21.5-53T951 149H514q-3 0-6-2.5t-4-4.5l-18-77q-7-28-30-46.5T405 0z";
}

#button-search-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M1015 969L732 687q100-117 100-271 0-172-122-294T416 0 122 122 0 416t122 294 294 122q154 0 271-100l282 283q10 9 23 9t23-9q9-10 9-23t-9-23zM553 740q-65 28-137 28t-137-28q-63-26-112-75T92 553q-28-65-28-137t28-137q26-63 75-112t112-75q65-28 137-28t137 28q63 26 112 75t75 112q28 65 28 137t-28 137q-26 63-75 112t-112 75z";
}

#button-setting-region {
    -fx-background-color: white;
    -size: 2.5em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M512 64q26 0 54 4l16 46 10 31 32 9q32 10 62 26l29 15 29-15 43-21q44 34 78 77l-22 43-14 30 15 29q15 30 26 62l9 31 31 11 46 15q4 29 4 54v1q0 26-4 54l-46 16-31 10-10 32q-9 32-25 62l-16 29 15 29 22 43q-18 23-36 42h-1q-18 18-41 36l-43-22-29-15-29 16q-30 15-62 25l-32 10-10 31-15 46q-29 4-55 4t-55-4l-15-46-10-31-32-10q-33-10-62-25l-29-16-29 15-43 22q-23-18-42-36-18-19-36-42l22-43 15-29-16-29q-16-31-25-62l-10-32-31-10-46-15q-4-29-4-55t4-55l46-15 31-10 9-32q10-32 26-62l15-29-14-29-22-43q34-44 77-78l44 22 29 15 29-16q30-15 62-26l32-9 10-31 15-46q30-4 55-4zm0-64q-37 0-81 7l-22 4-28 83q-39 12-73 30l-78-39-18 13q-66 48-115 114l-13 18 40 78q-19 36-31 73l-83 28-3 22q-7 44-7 81t7 81l3 22 83 28q12 38 31 73l-39 78 13 18q24 34 52 62 26 26 62 52l18 13 78-39q36 19 73 30l28 84 22 3q44 7 81 7t81-7l22-3 27-84q38-11 74-30l78 39 18-13q35-26 62-52 27-27 52-62l13-18-39-79q18-35 30-73l83-27 4-22q7-44 7-81t-7-81l-4-22-83-28q-12-38-30-73l39-78-13-18q-49-67-115-115l-18-13-78 39q-35-18-73-30l-27-83-22-3q-44-7-81-7zm0 386q52 0 89 37t37 89-37 89-89 37-89-37-37-89 37-89 89-37zm0-64q-79 0-134.5 55.5T322 512t55.5 134.5T512 702t134.5-55.5T702 512t-55.5-134.5T512 322z";
}

#button-more-menus {
    -fx-background-color: white;
    -size: 2em;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M192 32q0-13 9.5-22.5T224 0h768q13 0 22.5 9.5T1024 32q0 14-9.5 23T992 64H224q-13 0-22.5-9T192 32zM0 32Q0 18 9.5 9T32 0t22.5 9T64 32q0 13-9.5 22.5T32 64 9.5 54.5 0 32zm192 320q0-14 9.5-23t22.5-9h768q13 0 22.5 9t9.5 23q0 13-9.5 22.5T992 384H224q-13 0-22.5-9.5T192 352zM0 350q0-13 9.5-22.5T32 318t22.5 9.5T64 350q0 14-9.5 23T32 382t-22.5-9T0 350zm192 323q0-13 9.5-22.5T224 641h768q13 0 22.5 9.5t9.5 22.5-9.5 22.5T992 705H224q-13 0-22.5-9.5T192 673zM0 672q0-13 9.5-22.5T32 640t22.5 9.5T64 672t-9.5 22.5T32 704t-22.5-9.5T0 672z";
}

.menu-button .arrow-button {
    -fx-padding: 0;
}

.menu-button .arrow-button .arrow {
    -fx-padding: 0;
}

.jfx-check-box {
    -jfx-checked-color: -color-p;
    -jfx-unchecked-color: black;
}

.jfx-list-view {
    -fx-vertical-gap: 1em;
}

.jfx-list-view .list-cell:selected {
    -fx-background-color: -color-l;
}

.table-view {
    -fx-border-color: -color-p
}

.table-row-cell:selected {
    -fx-background-color: -color-l;
}

.table-view .column-header {
    -fx-background-color: -color-p;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.jfx-progress-bar .bar {
    -fx-background-color: -color-p;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -color-l;
}

.tab-header-background {
    -fx-background-color: -color-p;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -color-l;
    -fx-pref-height: 1em;
}

.tab {
    -fx-padding: 1.5em 0.5em 1.5em 0.5em;
}

#label-option {
    -fx-text-fill: white;
}

.split-pane:vertical .split-pane-divider {
    -fx-background-color: -color-l;
    -fx-padding: 0 0.05em 0 0.05em;
}

.jfx-toggle-button {
    -jfx-toggle-color: -color-p;
}

#formats-list-view-title {
    -fx-background-color: -color-d;
}

#formats-list-view-title .label {
    -fx-text-fill: white;
}

#create-download-task-view {
    -fx-background-color: -color-d;
}

#create-download-task-view .label {
    -fx-text-fill: white;
}

#create-download-task-view .jfx-text-field {
    -fx-text-fill: white;
}

.jfx-text-field {
    -jfx-focus-color: -color-p;
    -jfx-unfocus-color: -color-l;
    -fx-font-size: 1.2em;
}

.jfx-list-view .list-cell {
    -fx-text-fill: black;
}